[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
jupyterlab = "*"
scikit-learn = "*"
gensim = "*"
future = "*"
jupyter-contrib-nbextensions = "*"
transformers = "*"
ipdb = "*"
spacy = "*"
h5py = "*"
fastai = "*"
torch = "*"
ipywidgets = "*"

[requires]
python_version = "3.7"
