[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
torch = "*"
torchvision = "*"
jupyterlab = "*"
scikit-learn = "*"
gensim = "*"
future = "*"
graphviz = "*"
matplotlib = "*"
seaborn = "*"
pytorch-transformers = "*"

[requires]
python_version = "3.7"
